.container {
    display: flex;
    gap: 2px;
    font-family: sans-serif;
}

.sidebar, .content {
    padding: 12px 24px;
    min-height: 100vh;
}

.sidebar {
    background-color: rgb(133,215,239);
    flex-grow: 1;
}

.content {
    background-color: rgb(193,219,210);
    flex-grow: 4;
}